.bottom-item {
    color: #0b1688;
  }
  
  .cities {
    font-weight: 600;
    list-style-type: none;
    padding-left: 0;
    cursor: pointer;
  }
  
  li:hover {
    font-weight: 700;
  }
  
  .line-vertical {
    margin: 10px 0;
  }