body {
  background: linear-gradient(to top, #fff1eb 0%, #8dc2db 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}


@media (max-width: 600px) {
  #forecast,
  #city-form {
    margin: 0 auto;
  }

  .center-icon {
    width: 0px;
  }

  .weather-forecast-day {
    font-weight: 600;
  }

  .weather-icon {
    width: 20px;
    line-height: 4;
  }

  .weather-forecast-temperatures {
    font-size: 15px;
    font-weight: 600;
  }

  .button {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 764px) {
  #forecast,
  #city-form {
    margin: 0 auto;
  }
  .center-icon {
    width: 0%;
  }

  .weather-forecast-day {
    font-weight: 600;
  }

  .weather-icon {
    width: 20px;
    line-height: 4;
  }

  .weather-forecast-temperatures {
    font-size: 15px;
    font-weight: 600;
  }

  .button {
    display: flex;
    justify-content: center;
  }
}